---
import neontribeLogo from '../../assets/neontribe-logo.svg';
---

<div class="logo">
  <img src={neontribeLogo.src} alt="neontribe" class="logo-image" />
</div>

<style>
  .logo {
    display: inline-flex;
    align-items: center;
  }

  .logo-image {
    height: 2rem;
    width: auto;
    vertical-align: middle;
    display: inline-block;
  }

  /* Responsive */
  @media (max-width: 768px) {
    .logo-image {
      height: 1.5rem;
    }
  }

  @media (max-width: 480px) {
    .logo-image {
      height: 1.25rem;
    }
  }
</style>
