---
import smile from '../../assets/Smile.svg';
---

<section class="section section-dark pt-8 pb-48 md:pt-20 lg:pt-24 custom-hero-padding">
  <div class="w-full md:max-w-[1336px] md:mx-auto px-8 md:px-10">
    <div class="text-center">
      <h1 class="hero-title font-normal text-text-light mb-6 hero-title-aligned">
        We produce digital tools that help charities do more good
      </h1>
      <img src={smile.src} alt="" class="hero-smile mx-auto" />
    </div>
  </div>
</section>
