---
import smile from '../../assets/Smile.svg';
---

<section class="section section-dark pt-12 pb-24 lg:pt-16 lg:pb-34">
  <div class="container">
    <div class="text-center">
      <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold text-text-light leading-tight mb-6">
        Digital services committed <br/> to tech for
        <span class="relative inline-block">g<span class="text-[#48E9CE]">oo</span>d<img src={smile.src} alt="" class="absolute left-0 w-[140px] h-[183px]" style="bottom: -140px;" /></span>
      </h1>
    </div>
  </div>
</section>
