---
import Layout from '../layouts/Layout.astro';
import HeaderHeroContainer from '../components/sections/HeaderHeroContainer.astro';
import GetInTouch from '../components/sections/GetInTouch.astro';
import Footer from '../components/layout/Footer.astro';
---

<Layout title="Case studies">
  <HeaderHeroContainer 
    title="Case studies" 
    subtitle="A brief description of the case studies here and the types of organisations that we work with. Should be no more than two sentences."
    icon="case-studies" 
  />
  <main id="content">
    <section class="section section-light py-10 lg:py-12">
      <div class="container">
        <p class="text-base text-text-dark mb-6">Listing placeholder.</p>
        <a href="/case-studies/arc" class="text-blue-600 text-lg hover:text-blue-800 hover:underline">View Example Case Study</a>
      </div>
    </section>
  </main>
  <div class="bg-bg-dark w-full">
    <GetInTouch />
    <Footer />
  </div>
</Layout>


