---
import Layout from '../layouts/Layout.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import HowWeCanHelp from '../components/sections/HowWeCanHelp.astro';
---

<Layout title="How we work">
  <Header />
  <main id="content">
    <HowWeCanHelp 
      title="Our ways of working"
      paragraphs={[
        "Our work follows the Design Council's \"Double Diamond\" model; discovery, definition, development and delivery. We like to start with a question from you: somewhere you think we can help.",
        "In that context, we'd explore your recipients' journeys and pain points, focus in on a well-understood problem, explore the ways in which that problem can be solved, then ship a solution.",
        "If you'd like to read about that in more depth; we've got a series of blog posts about a project for NCS/CAST where the question was \"How might we support young people to become thoughtful makers and critical users of this technology?\""
      ]}
    />
  </main>
  <Footer />
</Layout>


