---
import Layout from '../layouts/Layout.astro';
import HeaderHeroContainer from '../components/sections/HeaderHeroContainer.astro';
import GetInTouch from '../components/sections/GetInTouch.astro';
import Footer from '../components/layout/Footer.astro';
import HowWeCanHelp from '../components/sections/HowWeCanHelp.astro';
import InfoCard from '../components/Card/InfoCard.astro';
import Box from '../components/sections/Box.astro';
import WhoYoullBeWorkingWith from '../components/sections/WhoYoullBeWorkingWith.astro';
---

<Layout title="How we work">
  <HeaderHeroContainer 
    title="How we work" 
    subtitle="You can expect us to be open, honest and expert; and based on those three principles, to become your trusted digital partner."
    icon="how-we-work" 
  />
  <main id="content">

    <!-- Our principles section -->
    <section class="w-screen bg-bg-light left-1/2 -translate-x-1/2 relative">
      <Box sectionHeading={`Our principles <span class="text-[#48E9CE]">↓</span>`} cardBackground="grey">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-8">
        <InfoCard
          title="We work in the open"
          body="Our openness is shown by our in-depth blog posts, and our convening UKCharityCamp; a place for the whole sector to share what works."
        />
        <InfoCard
          title="We are honest"
          body="We'll be frank about the issues you're facing, and how technology might help. If it's better not to build a new service; we'll say so."
        />
        <InfoCard
          title="We are expert"
          body="As well as Neontribe's experience of working for impact in the charity sector, we can call on the wider dxw family for deep expertise when we need it."
        />
        <InfoCard
          title="We'll be your trusted partner"
          body="Trust is earned, and by open, honest, expertise, we've built long relationships with the charities we help."
        />
      </div>
      </Box>
    </section>
    
    <HowWeCanHelp 
      title="Our ways of working"
      paragraphs={[
        "Our work follows the Design Council's \"Double Diamond\" model; discovery, definition, development and delivery. We like to start with a question from you: somewhere you think we can help.",
        "In that context, we'd explore your recipients' journeys and pain points, focus in on a well-understood problem, explore the ways in which that problem can be solved, then ship a solution.",
        "If you'd like to read about that in more depth; we've got a series of blog posts about a project for NCS/CAST where the question was \"How might we support young people to become thoughtful makers and critical users of this technology?\""
      ]}
    />
    
    <!-- Who you'll be working with section -->
    <WhoYoullBeWorkingWith
      title="Who you'll be working with"
      bodyText={[
        "Some information on the team and the history of neontribe, and our dxw relationship and experience an go here."
      ]}
      buttonLabel="Talk to us"
      buttonHref="/talk-to-us"
    />
  </main>
  <div class="bg-bg-dark w-full">
    <GetInTouch />
    <Footer />
  </div>
</Layout>


