---
import Layout from '../layouts/Layout.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import Hero from '../components/sections/Hero.astro';
import OurLatestWork from '../components/sections/OurLatestWork.astro';
import HowWeCanHelp from '../components/sections/HowWeCanHelp.astro';
import Testimonials from '../components/Testimonials/Testimonials.astro';
import GetInTouch from '../components/sections/GetInTouch.astro';
---

<Layout title="Neontribe" description="Digital services committed to tech for good">
  <Header />
  <main id="content">
    <Hero />
    <OurLatestWork />
    <HowWeCanHelp 
      title="How we can help"
      paragraphs={[
        "We're happiest starting with people; understanding the issues they face in their daily lives and in working to help others.",
        "And we're always happy to talk to charities, and then suggest a way forward.",
        "So drop us a line to have that first conversation, and we'll get straight back to you. No charge."
      ]}
    />
    <Testimonials />
    <GetInTouch />
  </main>
  <Footer />
</Layout>