---
import halfGreen from '../../assets/half-green.svg';
import halfPink from '../../assets/half-pink.svg';
---

<div class="logo">
  <span class="logo-text">n</span>
  <span class="logo-text">e</span>
  <img src={halfGreen.src} alt="" class="logo-o-half logo-o-left" />
  <img src={halfPink.src} alt="" class="logo-o-half logo-o-right" />
  <span class="logo-text">n</span>
  <span class="logo-text">t</span>
  <span class="logo-text">r</span>
  <span class="logo-text">i</span>
  <span class="logo-text">b</span>
  <span class="logo-text">e</span>
</div>

<style>
  .logo {
    display: inline-flex;
    align-items: center;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    font-weight: 800;
    font-size: 2rem;
  }

  /* Apply uniform negative margin-right to text letters */
  .logo-text {
    color: white;
    display: inline-block;
    margin-right: -0.02em;
  }

  /* Last letter doesn't need margin */
  .logo-text:last-child {
    margin-right: 0;
  }

  /* Remove margins for letters adjacent to the O */
  .logo-text:nth-child(2) { /* "e" before O */
    margin-right: -0.10em;
  }


  .logo-o-half {
    height: 0.75em;
    width: auto;
    vertical-align: middle;
    display: inline-block;
  }

  /* Spacing around the O halves */
  .logo-o-left {
    margin-right: -0.25em;
  }

  .logo-o-right {
    margin-right: 0.02em;
    margin-left: 0.15em;
  }


  /* Responsive */
  @media (max-width: 768px) {
    .logo {
      font-size: 1.5rem;
    }
  }

  @media (max-width: 480px) {
    .logo {
      font-size: 1.25rem;
    }
  }
</style>
